/*#343a40 black*/
/*#f8f9fa white*/
.modal-content,.navbar,body{
    background: #343a40 !important;
}
.main-nav{
    background: #2b3036 !important;
}
.main-nav img{
    filter: invert(100%);
}
.main-nav li:hover > a,
nav.main-nav li.active > a {
    filter:invert(45%) sepia(234%) saturate(7349%) hue-rotate(229deg) brightness(120%) contrast(205%);
}
.close{
    color: #f8f9fa;
}
.close:hover{
    color: #f8f9fa;
}
.addborderbottom {
    border-bottom: 1px solid #7d7d7d;
}
.addborderright {
    border-right: 1px solid #7d7d7d;
}
.nav-text,a,span,div,p{
    color:#f8f9fa !important ;
}
.btn-outline-primary{
    color:#f8f9fa;
    border-color: #f8f9fa;
}
.select{
    color: #0046ff !important;
}
.select[selected]{
    color: #f8f9fa !important;
}
img[alt="delete"],img[alt="edit"],img[alt="undo"],img[alt="redo"],img[alt="darkmode"]{
    filter:invert(100%);
}
.navbar-toggler{
    filter: invert(100%);
}


